database: "{{ cnpg_cluster.name }}"
username: "{{ cnpg_cluster.name }}-pg-user"
password: "{{ pg_pass }}"
host: "{{ cnpg_cluster.cluster_name }}-{{ cnpg_cluster.client_permissions }}"
port: "5432"
sslmode: "prefer"